* 
  margin: 0 
  padding: 0 
  box-sizing: border-box 
body 
  +roboto_regular
  font-size: 16px
  color: $text-color
  background-color: #F2F2F2
img 
  display: block 
  width: 100% 
.container 
  width: 1170px 
  margin: 0 auto
.button
  padding: 8px 33px
  background-color: #0099f1
  border: none
  // border-radius: 13px 
  border: none
  &:focus
    outline: none !important

.input
  padding: 7px
  color: #000000  
  border: none
  border-radius: 2px 
  border: none
  +roboto_thin
  font-size: 14px
  &:focus
    outline: none !important
  &-group
    position: relative
span.invalid
  text-align: left
  position: absolute
  top: 28px
  left: 0
  color: red
  font-size: 0.7em
  font-weight: 800
  width: 100%
.buttonup
  max-width: 70px
  display: none
  opacity: 0.5
  filter: alpha(opacity=50)
  position: fixed
  right: 20px
  bottom: 50px
  color: #000000
  transition: 0.3s
@media screen and (max-width: 1200px) 
  .container 
    width: 760px 
    width: 90% 
@media screen and (max-width: 960px) 
  .buttonup
    max-width: 70px
    display: none
    opacity: 0.5
    filter: alpha(opacity=50)
    position: fixed
    right: 20px
    bottom: 50px
    color: #000000
    transition: 0.3s
@media screen and (min-width: 960px)
  .buttonup
    &:hover
      cursor: pointer
      opacity: 1
      color: #ff0000
@media screen and (max-width: 768px) 
  .container 
    max-width: 580px 
    width: 90% 
@media screen and (max-width: 567px) 
  .container 
    max-width: 487px 
    width: 95% 
  .input
    &-group
      flex-basis: 100%
      display: flex
      justify-content: center
@media screen and (max-width: 320px) 
  .container 
    max-width: 280px 
    width: 95% 
  .input
    &-group
      margin: 0 auto