* 
  margin: 0 
  padding: 0 
  box-sizing: border-box 
body 
  // background-color: #ffffff
  +roboto_light
  font-size: 16px
  color: $text-color
  // background-image: url('../img/header/bg-picture.png') 
  // background-position: 46vw 0%
  // background-repeat: no-repeat
  background-color: #F2F2F2
img 
  display: block 
  width: 100% 
.container 
  width: 1170px 
  margin: 0 auto
.button
  padding: 8px 33px
  background-color: #0099f1
  border: none
  border-radius: 13px 
  border: none
  &:focus
    outline: none !important

.input
  padding: 7px
  color: #000000  
  // background-color: $text-color
  border: none
  border-radius: 2px 
  border: none
  +roboto_thin
  font-size: 14px
  &:focus
    outline: none !important
  &-group
    position: relative
    // width: 100%
span.invalid
  text-align: left
  position: absolute
  top: 28px
  left: 0
  color: red
  font-size: 0.7em
  font-weight: 800
  width: 100%
@media screen and (max-width: 1200px) 
  // body
  //   background-size: 59%
  //   background-position: 40vw 0%
  .container 
    width: 760px 
    width: 90% 
@media screen and (max-width: 991px) 
  // body
  //   background-size: 63%
  //   background-position: 40vw 0%
@media screen and (max-width: 768px) 
  // body
  //   background-size: 100%
  //   background-position: 0% 0%
  .container 
    max-width: 580px 
    width: 90% 
@media screen and (max-width: 567px) 
  .container 
    max-width: 487px 
    width: 95% 
  .input
    &-group
      // width: 100%
  //     margin: 0 auto
@media screen and (max-width: 320px) 
  .container 
    max-width: 280px 
    width: 95% 
  .input
    &-group
      margin: 0 auto