.header
  // position: absolute
  // background-color:#F2F2F2
  &-block
    padding: 9px 0
    display: flex
    align-items: center
    justify-content: space-between
  &__logo
    max-width: 85px
  &-contacts
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    &__button
      padding: 10px 28px
      margin-bottom: 12px
      background-color: $text-color
      +roboto_regular
      font-size: 14px
      transition: 1s
      &:hover
        cursor: pointer
        background-color: #bf9161
        color: #ffffff
    &__phone
      text-decoration: none
      color: #000000
      cursor: pointer
      +roboto_regular
      font-size: 16px
      line-height: 24px
.nav
  &-block
  &-menu
    display: flex
    flex-direction: row
    &__item
      list-style: none
      margin-right: 24px
      position: relative
      &:after
        content: ""
        position: absolute
        height: 11px
        width: 1px
        background-color: #000000
        display: block
        right: -12px
        top: 5px
      &:last-child
        margin-right: 0
        &:after
          display: none
    &__link
      text-decoration: none
      cursor: pointer
      color: #000000
      font-size: 14px
      &:hover
        color: #bf9161
      